@{
    ViewData["Title"] = "Exito";
}

<div class="container justify-content-center border border-danger border-1" style="background-color:#F7E1E1">
    <div class="row">
        <h2 class="text-center fw-bolder">¡Has Resuelto el Test!</h2>
        <hr class="bg-danger" />
        <p class="lh-base">Es esencial recordar que este test vocacionales es solo una herramientas de autoexploración y no decisiones
            definitivas. Los resultados no deben tomarse como una elección rígida, sino como una guía que te ayudará a 
            reflexionar sobre tus intereses y preferencias profesionales.</p>
        <p>Los resultados han sido enviado a su correo electronico.</p>
        <div class="d-grid gap-2 col-6 mx-auto mb-3">
            <a class="btn btn-light" asp-action="Index">Iniciar un nuevo test</a>
        </div>
    </div>
</div>

